h1 {
  font-size: 32px;

}
@media (min-width: 1200px) {
  .homeheading {
    font-size: 58px !important;
  }
}

.getStartedbtn {
  width: 126px;
  height: 48px;
  border-radius: 50px;
  margin-top: 10px;
  background: var(--colorwhite);
  border: 2px solid var(--colorprimary);
  color: var(--colorprimary);
  font-weight: 500;

  font-size: 16px;
  line-height: 24px;
}