* {
  letter-spacing: 0.5px;
}

body {
  font-family: 'Raleway', sans-serif;
}

.componentHeading {
  font-size: 40px;
  line-height: 55.8px;
  color: var(--colorprimary);
  font-weight: 700;

}



/* ********************** */
/* Extra small devices (phones, 576px and down) */
@media (max-width: 575.98px) {

  /* Example styles */
  .howWeWork {
    padding: 0px !important;
  }

  .AboutContainer {
    padding: 10px !important;
  }

  .footerlogo {
    width: 250px;
    height: 150px;

  }

  .footerContainer {
    padding: 0px !important;

  }

  .homePageContainer {
    margin-top: 20px !important;
  }

  .footerlogo{
    position: relative;
    left: -23px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

  /* Example styles */
  .howWeWork {
    padding: 0px !important;
  }
  
  .footerlogo{
    position: relative;
    left: -23px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

  /* Example styles */
  .cla {
    padding: 3rem 3rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

.footerlogo{
  position: relative;
  left: -23px;
}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .footerlogo{
    position: relative;
    left: -23px;
  }
}

/* ****************************** Css Variable *************** */

:root {
  /* / Font size variables / */
  --vsmall:16px;
  --small: 18px;
  --medium: 20px;

  /* / color code variable / */

  --colorblack: rgba(73, 78, 79, 1);
  --colorwhite: rgba(255, 255, 255, 1);
  --colorprimary:#1b424c;
  --colorDarblack: rgba(66, 69, 69, 1);
    /* ************font size******************* */
    


}